<app-sub-nav></app-sub-nav>
<div  class="col-xs-12 col-sm-12">
      
      <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Collapsible Group Item #1
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">

                      <div id="MainMenu">
                        <div class="list-group panel">
                          <a href="#demo3" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Item 1</a>
                          <a href="#demo4" class="list-group-item list-group-item" data-toggle="collapse" data-parent="#MainMenu"><a [routerLink]="['/home-sub']">Item 4</a></a>
                          <div class="collapse" id="demo4">
                            <a href="" class="list-group-item">Subitem 1</a>
                            <a href="" class="list-group-item">Subitem 2</a>
                          </div>
                           <a href="#demo5" class="list-group-item list-group-item" data-toggle="collapse" data-parent="#MainMenu">Item 5</a>
                          <a href="#demo6" class="list-group-item list-group-item" data-toggle="collapse" data-parent="#MainMenu">Item 6</a>
                        <a href="#demo7" class="list-group-item list-group-item" data-toggle="collapse" data-parent="#MainMenu">Item 7</a>
                        </div>
                      </div>

          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Collapsible Group Item #2
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              Collapsible Group Item #3
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit
          </div>
        </div>
      </div>
    </div>
      
      
    </div>