<app-sub-nav></app-sub-nav>
<div  class="col-xs-12 col-sm-12">
      
      <div class="panel-group myAccodian" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-     title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              General Assesments <span>Small content describing the menu</span>
            </a>
          </h4>
        </div>
        <div id="subCollapse">
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
                <div class="list-group panel">
                  <a href="#demo3" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Informed consent</a>
                  <a href="#demo4" class="list-group-item list-group-item " data-toggle="collapse" data-parent="#MainMenu"><a [routerLink]="['/eligibility-criteria']">Eligibility criteria</a></a>
                  <div class="collapse" id="demo4">
                    <a [routerLink]="['/inclusion-criteria']" class="list-group-item">INCLUSION CRITERIA</a>
                    <a [routerLink]="['/exclusion-criteria']" class="list-group-item">EXCLUSION CRITERIA</a>
                  </div>
                    <a href="#demo5" class="list-group-item list-group-item" data-toggle="collapse" data-parent="#MainMenu">Item 5</a>
                  <a href="#demo6" class="list-group-item list-group-item" data-toggle="collapse" data-parent="#MainMenu">Item 6</a>
                <a href="#demo7" class="list-group-item list-group-item" data-toggle="collapse" data-parent="#MainMenu">Item 7</a>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              General Assesments <span>Small content describing the menu</span>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              General Assesments <span>Small content describing the menu</span>
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="footer">
      <ul>
        <li class="active"><a href="#">Screening</a></li>
        <li><a href="">Visit 1</a></li>
        <li><a href="">Visit 2</a></li>
        <li><a href="">Visit 3</a></li>
        <li><a href="">Visit 4</a></li>
        <li><a href="">Visit 5</a></li>
        <li><a href="">Visit 6</a></li>
      </ul>
    </div>
    
