<div class="navbar fixed-top eceLogo">
  <div class="col-xs-3 col-sm-3">
            <button type="button" class="backBtn" (click)="goBack()" >
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </button>
  </div>
  <div class="col-xs-6 col-sm-6 noPadding">
   <img class="img-responsive centermargin " src="/assets/images/ece_logo.png" width="70" height="auto" alt="bg">
  </div>
  <div class="col-xs-3 col-sm-3 textRight">
      <button type="button" class="backBtn">
          <i class="fa fa-bell" aria-hidden="true"></i>
      </button>
  </div>
</div>