<div class="col-xs-12 col-sm-12 noPadding closebtn"></div>
<div id="mySidenav" class="sidenav">
    <div class="col-xs-12 col-sm-12 noPadding user">
         <img src="/assets/images/usericon_1.png" class="img-circle" alt="user icon" width="60" height="60">
    </div>
    <div class="panel-group" id="accordionMenu" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               {{currentUser.firstName}}
            </a>
            </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <!-- <div class="panel-body mainNav">
                <ul class="nav">
                <li><a href="#">user item 1</a></li>
                <li><a href="#">user item 2</a></li>
                <li><a href="#">user item 3</a></li>
                </ul>
            </div> -->
            </div>
        </div>
    </div>
    <div class="panel-body mainNav">
            <ul class="nav">
            <li><a href="#"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i> <span>Visit Guide</span></a></li>
            <li><a href="#"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i> <span>Calendar</span></a></li>
            <li><a href="#"><i class="fa fa-comments fa-lg" aria-hidden="true"></i> <span>Assitance</span></a></li>
            <li><a href="#"><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i> <span>Contacts</span></a></li>
            <li><a [routerLink]="['/login']"><i class="fa fa-power-off fa-lg" aria-hidden="true"></i><span>Logout</span></a>
            </li>
            </ul>
        </div>
      </div>

<div class="navbar fixed-top eceLogo">
    <div class="col-xs-3 col-sm-3 noPadding">
         <button type="button" class="navBtn">
             <i class="fa fa-bars" aria-hidden="true"></i>
         </button>
    </div>
    <div class="col-xs-6 col-sm-6 noPadding">
     <img class="img-responsive centermargin " src="/assets/images/ece_logo.png" width="70" height="auto" alt="bg">
    </div>
    <div class="col-xs-3 col-sm-3 noPadding"></div>
</div>
<div class="col-xs-12 col-sm-12 smMarginTop">
        <a [routerLink]="['/home-sub']">
     <div class="col-xs-12 col-sm-12 noPadding">
         <div class="imgTxt">PA 13</div>
         <img class="img-responsive centermargin imgShadow" src="/assets/images/img_1.png" width="100%" height="210" alt="bg">
     </div></a>
     <div class="col-xs-12 col-sm-12 noPadding smMarginTop">
             <div class="imgTxt">PA 13</div>
         <img class="img-responsive centermargin imgShadow" src="/assets/images/img_2.png" width="100%" height="210" alt="bg">
     </div>
     <div class="col-xs-12 col-sm-12 noPadding smMarginTop">
             <div class="imgTxt">PA 13</div>
         <img class="img-responsive centermargin imgShadow" src="/assets/images/img_3.png" width="100%" height="210" alt="bg">
     </div>
 
</div>

<!-- <div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <p>You're logged in with Angular 2!!</p>
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul> 
    <p><a [routerLink]="['/login']">Logout</a></p>
</div> -->



