<app-sub-nav></app-sub-nav>
<a [routerLink]="['/trail']">
<div class="col-xs-12 col-sm-12">
  <div class="imgTxtH">TRAI ASSISTANCE</div>
  <img class="img-responsive centermargin imgShadow" src="/assets/images/img_4.png" width="100%" height="210" alt="bg">
</div></a>

<div class="col-xs-12 col-sm-12 smMarginTop">
  <div class="imgTxtH">TRAI ASSISTANCE</div>
  <img class="img-responsive centermargin imgShadow" src="/assets/images/img_5.png" width="100%" height="210" alt="bg">
</div>
<div class="col-xs-12 col-sm-12 smMarginTop">
  <div class="imgTxtH">TRAI ASSISTANCE</div>
  <img class="img-responsive centermargin imgShadow" src="/assets/images/img_6.png" width="100%" height="210" alt="bg">
</div>
<div class="col-xs-12 col-sm-12 smMarginTop">
  <div class="imgTxtH">TRAI ASSISTANCE</div>
  <img class="img-responsive centermargin imgShadow" src="/assets/images/img_7.png" width="100%" height="210" alt="bg">
</div>
<div class="col-xs-12 col-sm-12 smMarginTop">
  <div class="imgTxtH">TRAI ASSISTANCE</div>
  <img class="img-responsive centermargin imgShadow" src="/assets/images/img_4.png" width="100%" height="210" alt="bg">
</div>
<div class="col-xs-12 col-sm-12 smMarginTop">
  <div class="imgTxtH">TRAI ASSISTANCE</div>
  <img class="img-responsive centermargin imgShadow" src="/assets/images/img_5.png" width="100%" height="210" alt="bg">
</div>