<div class="container-fluid">
  <div class="col-xs-12 col-sm-12 lgMarginTop">
    <img class="img-responsive centermargin" src="/assets/images/logoxhdpi.png" width="240" height="220" alt="logo">
  </div>
  <div class="col-xs-12 col-sm-12 mdMarginTop login">
    <form>
      <div class="form-group">
        <div class="fLeft formIcon"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
        <input type="email" class="form-control" placeholder="Email Address" id="email">
      </div>
      <div class="form-group">
          <div class="fLeft formIcon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></div>
        <input type="password" class="form-control" placeholder="Password" id="pwd">
      </div>
    
      <button type="submit" class="btn btn-default col-xs-12 col-sm-12 noPadding">Login</button>
    </form>
    <div  class="col-xs-12 col-sm-12 noPadding textCenter smMarginTop signup">
        No account? <a href="#">SignUp</a>
    </div>
  </div>
</div>