<app-sub-nav></app-sub-nav>
<div class="col-xs-12 col-sm-12 subHeader">
  <h4>Inclusion Criteria</h4>
</div>

<div class="col-xs-12 col-sm-12 noPadding myList">
  <ul>  
    <li>
     <div class="col-xs-1 col-sm-1 noPadding listIcon"><i class="fa fa-square" aria-hidden="true"></i></div> 
      <div class="col-xs-11 col-sm-11 noPadding" >Male and female patients aged 18 years and above</div>
    </li>
    <li>
      <div class="col-xs-1 col-sm-1 noPadding listIcon"><i class="fa fa-square" aria-hidden="true"></i></div> 
      <div class="col-xs-11 col-sm-11 noPadding" >
          <a [routerLink]="['/inclusion-criteria-sub']">histopathologically confirmed*</a> colorectal cancer</div>
    </li>
    <li>
        <div class="col-xs-1 col-sm-1 noPadding listIcon"><i class="fa fa-square" aria-hidden="true"></i></div> 
         <div class="col-xs-11 col-sm-11 noPadding" >Male and female patients aged 18 years and above</div>
       </li>
       <li>
         <div class="col-xs-1 col-sm-1 noPadding listIcon"><i class="fa fa-square" aria-hidden="true"></i></div> 
         <div class="col-xs-11 col-sm-11 noPadding" ><a href="">histopathologically confirmed*</a> colorectal cancer</div>
       </li>
  </ul>
</div>

