<app-sub-nav></app-sub-nav>
<div class="col-xs-12 col-sm-12 subHeader">
    <h4>Inclusion criteria sub page</h4>
  </div>
  
  <a [routerLink]="['/gross-description']">
    <div class="col-xs-10 col-sm-10 col-xs-offset-1 col-sm-offset-1 boxWShadow smMarginTop">
    <div class="col-xs-12 col-sm-12">
      <h5>The gross descrption </h5> 
    </div>
  </div>
  </a>
  
  <a [routerLink]="['/microscopic-diagnosis']">
  <div class="col-xs-10 col-sm-10 col-xs-offset-1 col-sm-offset-1 boxWShadow smMarginTop">
      <div class="col-xs-12 col-sm-12">
        <h5>Microscopic Diagnosis</h5> 
      </div>
    </div>
  </a>